# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# Secrets i tokeny
.env
wfirma_token.json
*.key
*.pem
Oauth20.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Logs
*.log

